{% extends "layout.html" %}
{% block title %}  {% endblock %}


{%block content%}

<div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="{{user.photo}}" alt="" class="img-responsive profile-photo">
                  <h3>{{user.name}} {{user.surname}}</h3>
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="/profil">Timeline</a></li>
                  <li><a href="/besic" class="active">Besic</a></li>
                  <li><a href="/album">Album</a></li>
                  <li><a href="/friends">Friends</a></li>
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="{{user.photo}}" alt="" class="img-responsive profile-photo">
              <h4>{{user.name}} {{user.surname}}</h4>
              <p class="text-muted">Creative Director</p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                  <li><a href="/profil">Timeline</a></li>
                  <li><a href="/besic" class="active">Besic</a></li>
                   <li><a href="/album">Albom</a></li>
                  <li><a href="/friends">Friends</a></li>
              </ul>
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3">

              <!--Edit Profile Menu-->
              <ul class="edit-menu">
              	<li class="active"><i class="icon ion-ios-information-outline"></i><a href="/besic">Basic Information</a></li>
              	<li><i class="icon ion-ios-briefcase-outline"></i><a href="/work">Education and Work</a></li>
              	<li><i class="icon ion-ios-heart-outline"></i><a href="/interests">My Interests</a></li>
                <li><i class="icon ion-ios-settings"></i><a href="/settings">Account Settings</a></li>
              	<li><i class="icon ion-ios-locked-outline"></i><a href="/password">Change Password</a></li>
              </ul>
            </div>
            <div class="col-md-7">

              <!-- Basic Information
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit basic information</h4>
                  <div class="line"></div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <form name="basic-info" id="basic-info" class="form-inline" method="post">

                    <div class="row">
                      <div class="form-group col-xs-6">
                         {{form.name(placeholder = "First name", class='form-control input-group-lg')}}
                          {%for error in form.errors["name"]%}
                            <div>
                              <strong>Error!</strong>{{error}}
                            </div>
                          {%endfor%}
                      </div>


                      <div class="form-group col-xs-6">

                        {{form.surname(placeholder = "Last name", class='form-control input-group-lg')}}
                          {%for error in form.errors["surname"]%}
                            <div>
                              <strong>Error!</strong>{{error}}
                            </div>
                          {%endfor%}

                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-xs-12">
                        {{form.age(placeholder = "Age", class='form-control input-group-lg')}}
                          {%for error in form.errors["age"]%}
                            <div>
                              <strong>Error!</strong>{{error}}
                            </div>
                          {%endfor%}
                      </div>
                    </div>
                      {{form.update(class="btn btn-primary")}}
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-2 static">

              <!--Sticky Timeline Activity Sidebar-->
              <div id="sticky-sidebar">
                <h4 class="grey">{{user.name}} activity</h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">{{user.name}}</a> Commended on a Photo</p>
                    <p class="text-muted">5 mins ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">{{user.name}}</a> Has posted a photo</p>
                    <p class="text-muted">an hour ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">{{user.name}}</a> Liked her friend's post</p>
                    <p class="text-muted">4 hours ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">{{user.name}}</a> has shared an album</p>
                    <p class="text-muted">a day ago</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock%}

{%block script%}
{%endblock%}